*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
header{
    padding: 60px 140px 0px 140px;
    margin-bottom: 25px;
    list-style: none;
    background: none;
    position: sticky;
    top: 0;
    z-index: 3;
    transition: 0.3s;

}
body{
    font-family: 'Open Sans', sans-serif;
    background-image: url(../img/background.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
main{
    padding: 0px 140px;
}
.top_nav ,nav{
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.logo{
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #f5f5dc;
}
.top_nav a{
    font-weight: 600;
    font-size: 18px;  
    color: #f5f5dc;
    margin-left: 50px;
    transition: 0.3s;
}
.top_nav a:hover{
    border-bottom: 1px solid rgba(255, 255, 255, 0.6) ;
    border-radius: 1px;
    color: white;
}
.about-me{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-top: 60px;
}
.img-me{
    background: radial-gradient(86.57% 85% at 21.14% 18.23%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(60px);
    border-radius: 20px;   
    border: 1px solid;
    border-image-source: linear-gradient(137.48deg, rgba(255, 255, 255, 0.6) -96.76%, rgba(255, 255, 255, 0) 81.26%);
    width: max-content;
}
.img-me img{
    width: 100%;
    max-width: 300px;
}
.text-about-me{
    background: radial-gradient(86.57% 85% at 21.14% 18.23%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(60px);
    border-radius: 20px;
    border: 1px solid;
    border-image-source: linear-gradient(137.48deg, rgba(255, 255, 255, 0.6) -96.76%, rgba(255, 255, 255, 0) 81.26%);  
    width: max-content;
    padding: 40px 50px;
}
.text-about-me h1{
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}
.text-about-me p{
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.skills{
    padding-top: 160px;
}
.my-skills{
    background: radial-gradient(86.57% 85% at 21.14% 18.23%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(60px);
    border-radius: 20px;
    border: 1px solid;
    border-image-source: linear-gradient(137.48deg, rgba(255, 255, 255, 0.6) -96.76%, rgba(255, 255, 255, 0) 81.26%);
    padding: 40px 50px;
}
.my-skills h2{
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}
.my-skills li{
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 25px;
}
.sides-list{
    display: flex;
    justify-content: space-between;
}
.left-side ul{
    margin-left: 17px;
}

.portfolio{
    padding-top: 140px;
}
.my-portfolio{
    background: radial-gradient(86.57% 85% at 21.14% 18.23%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(60px);
    border-radius: 20px;
    padding: 40px 25px;
    border: 1px solid;
    border-image-source: linear-gradient(137.48deg, rgba(255, 255, 255, 0.6) -96.76%, rgba(255, 255, 255, 0) 81.26%);
}
#see-more {
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-shadow: 0px 2px 10px 0px rgba(255,255,255, 0.8);
    margin-top: 30px;
    transition: 0.3s;
}
#see-more:hover{    
    color: rgba(174, 29, 81, 0.7);
}
.my-portfolio h2{
    margin:0px 0px 30px 25px;
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}
.works{
    display: flex;
    justify-content: space-between;
}
.work{
    text-align: center;
}
.work p{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    transition: 0.2s;
}
.work img{
    width: 100%;
    max-width: 240px;
    filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.2));
    border-radius: 5px;
    transition: 0.3s;
}
@media (max-width:1330px){
    .work img{
        width:100%;
        max-width:200px;
    }
}
@media (max-width:1170px){
    .work img{
        width:100%;
        max-width:150px;
    }
}
.work:hover img,p{
    font-size: 22px;
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.4));
}
.contacts{
    padding-top: 100px;
    margin-bottom: 100px;
}
.my-contacts{
    padding: 40px 50px 55px 40px;
    background: radial-gradient(86.57% 85% at 21.14% 18.23%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(60px);
    border-radius: 20px;
    border: 1px solid;
    border-image-source: linear-gradient(137.48deg, rgba(255, 255, 255, 0.6) -96.76%, rgba(255, 255, 255, 0) 81.26%);
}
.contacts h2{
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
}
.sides-contacts{
    display: flex;
    justify-content: space-around;
}
.contact{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.img-con{
    background: radial-gradient(86.57% 85% at 21.14% 18.23%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(60px);
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
    width: 100%;
    max-width: 44px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-width: 44px;
    min-height: 44px;
    
}
.contact p{
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}